.sectionTitle {
  margin: 1rem 0;
}
.sectionTitle h1 {
  font-size: 2rem;
  text-align: center;
}
.servicesItem {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0px 5px 20px 0px #0000000a;
}
.servicesImg {
  width: 50%;
  height: 100%;
}
.servicesImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
.servicesItemContent h1,
h2,
h3,
h4 {
  margin: 0.3rem 0;
  font-weight: 400;
  text-align: left;
}
.servicesItemContent h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.servicesItemContent h2 {
  font-size: 2rem;
}
.servicesItemContent h3 {
  font-size: 1.5rem;
}
.servicesItemContent h4 {
  font-size: 1.2rem;
}
.servicesAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.servicesAuthor img {
  width: 48px;
  border-radius: 100px;
}
.noFound p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ff0000;
}
.hideBtn {
  display: none;
}
@media (max-width: 1440px) {
  .servicesImg {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .servicesItem {
    flex-direction: column;
    align-items: start;
  }
  .servicesImg {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .servicesItemContent h1 {
    font-size: 1.5rem;
  }
  .servicesItemContent h2 {
    font-size: 1.5rem;
  }
  .servicesItemContent h3 {
    font-size: 1rem;
  }
  .servicesItemContent h4 {
    font-size: 0.8rem;
  }
}
