.sectionTitle {
  margin: 1rem 0;
}
.sectionTitle h1 {
  font-size: 2rem;
  text-align: center;
}
.popularServicesWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem 0;
}
.popularServicesItem {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 4px 0 #00000033;
}
.popularServicesItemImg {
  width: 100%;
}
.popularServicesItemImg img {
  width: 100%;
  border-radius: 1rem;
}
.popularServicesItemContent p {
  text-wrap: wrap;
  margin: 0.8rem 0;
}
.servicesAuthorWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #00000033;
  padding-top: 0.5rem;
}
.servicesAuthorWrap img {
  width: 4rem;
}
.servicesAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.servicesAuthor img {
  border-radius: 100px;
}
.noFound p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ff0000;
}
.popularServicesItemContent {
  margin: 0.5rem 0;
}
.popularServicesItemContent:last-child {
  padding-bottom: 0.8rem 0;
}
@media (max-width: 1280px) {
  .popularServicesWrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .popularServicesWrap {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .viewMore button {
    font-size: 0.8rem;
  }
}
