.customButton {
  overflow: hidden;
  display: inline-block;
}
.customButton button {
  padding: 10px 20px;
  background: #ffa74e;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
  transition-delay: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  display: inline-block;
}
.customButton button a {
  color: #000;
  transition: 0.4s;
}
.customButton button:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: '';
  padding: 10px 20px;
  background-color: #3498db;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  border-radius: 8px;
}
.customButton:hover button a {
  color: white;
}
.customButton button:hover:before {
  transform: scale(1, 1);
  transform-origin: top left;
}
.text {
  position: relative;
}
