.servicesItem {
  margin: 2rem 0;
}
.servicesItem img {
  width: 100%;
}
.servicesItemContent h1,
h2,
h3,
h4 {
  margin: 0.3rem 0;
  font-weight: 400;
}
.servicesItemContent h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.servicesItemContent h2 {
  font-size: 2rem;
}
.servicesItemContent h3 {
  font-size: 1.5rem;
}
.servicesItemContent h4 {
  font-size: 1.2rem;
}
.servicesAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.servicesAuthor img {
  width: 48px;
  border-radius: 100px;
}
.viewMore button,
.viewAll button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  background: tomato;
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 0.5rem;
}
.viewAll {
  text-align: center;
  margin: 2rem 0;
}
.viewAll button,
.viewMore button {
  padding: 0.5rem 5rem;
  cursor: pointer;
}
.viewAll button a,
.viewMore button a {
  color: #fff !important;
}

.hideBtn {
  display: none;
}
.bookingModalWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #1c1c1c94;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  transform-origin: center;
  opacity: 1;
  visibility: visible;
  animation: modalshow 0.2s 1;
  padding: 2rem;
  overflow: auto;
}
@keyframes modalshow {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}
.modalImage {
  margin-top: 1rem;
}
.modalImage img {
  width: 200px;
  border-radius: 1rem;
}
.bookingModal {
  position: relative;
}
.modalHideBtn {
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  background: #000;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
.inputGroup {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .inputGroup {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .servicesItemContent h1 {
    font-size: 1.5rem;
  }
  .servicesItemContent h2 {
    font-size: 1.5rem;
  }
  .servicesItemContent h3 {
    font-size: 1rem;
  }
  .servicesItemContent h4 {
    font-size: 0.8rem;
  }
}
