.sliderWrap {
  width: 100%;
  position: relative;
  padding: 0 0.5rem;
}
.slideWrap {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(1, -0.01, 0.23, 0.99);
  border-radius: 1rem;
  margin: 0rem;
  top: 0;
}
.slide img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.sideContentWrap {
  border-radius: 1rem;
  background-image: linear-gradient(to right, #000000a1, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.slideContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  padding: 0rem 16rem;
  color: #fff;
}
.slideContent h1 {
  width: 425px;
  font-size: 3rem;
}
.slideContent p {
  width: 425px;
}
.sliderButton {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 4rem;
}
.sliderButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #7e7e7e;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s;
}
.sliderButton button :hover {
  background-color: red !important;
}
.active {
  background-color: #1a1a1a !important;
}
@media (max-width: 1440px) {
  .slideContent {
    padding: 0rem 10rem;
  }
}
@media (max-width: 992px) {
  .slideContent {
    padding: 0rem 3rem;
  }
}
@media (max-width: 768px) {
  .slideWrap {
    height: 500px;
  }
  .slideContent {
    padding: 0rem 2rem;
  }
}
@media (max-width: 425px) {
  .slideWrap {
    height: 300px;
  }
  .slideContent h1 {
    width: 100%;
    font-size: 2rem;
  }
  .slideContent p {
    width: 100%;
  }
  .slideContent {
    padding: 1rem;
    justify-content: start;
  }
}
@media (max-width: 320px) {
  .slideWrap {
    height: 250px;
  }
  .slideContent h1 {
    width: 100%;
    font-size: 1.4rem;
  }
  .slideContent p {
    width: 100%;
  }
  .sliderButton {
    bottom: 3rem;
  }
}
