.sectionTitle {
  margin: 1rem 0;
}
.sectionTitle h1 {
  font-size: 2rem;
  text-align: center;
}
.bookingServicesWrap {
  width: 100%;
  justify-content: space-between;
}
.bookingServicesItem {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 #00000033;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.serviceItemImg {
  width: 50%;
  height: 100%;
}
.serviceItemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.bookingServicesItem div {
  margin: 0.3rem 0;
}
.servicesAuthorWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servicesAuthorWrap img {
  width: 2rem;
}
.servicesAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.servicesAuthor img {
  border-radius: 100px;
}
.viewAll {
  text-align: center;
  margin: 2rem 0;
}
.viewMore button,
.viewAll button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  background: tomato;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.viewMore select {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  background: #f7f8fb;
  padding: 0.5rem;
  color: #000;
  border-radius: 0.5rem;
  cursor: pointer;
}
.viewAll button {
  padding: 0.5rem 2rem;
}
.viewAll button a,
.viewMore button a {
  color: #fff;
}
.bookingServicesItemContent {
  width: 50%;
  margin: 0.5rem 0;
}
.bookingServicesItemContent h1,
p,
div {
  margin: 0.4rem 0;
}
.bookingServicesItemContent p {
  text-wrap: wrap;
}
.noFound {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.noFound p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ff0000;
}
@media (max-width: 992px) {
  .bookingServicesItem {
    flex-direction: column;
  }
  .serviceItemImg {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .bookingServicesWrap {
    grid-template-columns: 1fr;
  }
  .bookingServicesItem {
    align-items: start;
  }
}

@media (max-width: 320px) {
  .viewMore button {
    font-size: 0.8rem;
  }
}
