.sectionTitle {
  margin: 1rem 0;
}
.sectionTitle h1 {
  font-size: 2rem;
  text-align: center;
}
.bookingServicesWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
}
.bookingServicesItem {
  background-color: #efefef;
  border-radius: 0.2rem;
  padding: 1.5rem;
}
.bookingServicesItem img {
  width: 100%;
}
.servicesAuthorWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servicesAuthorWrap img {
  width: 2rem;
}
.servicesAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.servicesAuthor img {
  border-radius: 100px;
}
.viewAll {
  text-align: center;
  margin: 2rem 0;
}
.viewMore button,
.viewAll button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  background: tomato;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.viewMore select {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  background: #c9c9c9;
  padding: 0.5rem;
  color: #000;
  border-radius: 0.5rem;
  cursor: pointer;
}
.viewAll button {
  padding: 0.5rem 2rem;
}
.viewAll button a,
.viewMore button a {
  color: #fff;
}
.bookingServicesItemContent {
  margin: 0.5rem 0;
}
.noFound {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.noFound p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ff0000;
}
@media (max-width: 768px) {
  .bookingServicesWrap {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .viewMore button {
    font-size: 0.8rem;
  }
}
