.sectionTitle {
  margin: 1rem 0;
}
.sectionTitle h1 {
  font-size: 2rem;
  text-align: center;
}
.manageServicesWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
}
.manageServicesItem {
  background-color: #efefef;
  border-radius: 0.2rem;
  padding: 1.5rem;
}
.manageServicesItem img {
  width: 100%;
}
.servicesAuthorWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servicesAuthorWrap img {
  width: 2rem;
}
.servicesAuthor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.servicesAuthor img {
  border-radius: 100px;
}
.viewAll {
  text-align: center;
  margin: 2rem 0;
}
.viewMore button,
.viewAll button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  background: tomato;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.viewAll button {
  padding: 0.5rem 2rem;
}
.viewAll button a,
.viewMore button a {
  color: #fff;
}
.manageServicesItemContent {
  margin: 0.5rem 0;
}
.noFound p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ff0000;
}
.bookingModalWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #1c1c1c94;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  transform-origin: center;
  opacity: 1;
  visibility: visible;
  animation: modalshow 0.2s 1;
  padding: 2rem;
  overflow: auto;
}
@keyframes modalshow {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}
.modalImage {
  margin-top: 1rem;
}
.modalImage img {
  width: 200px;
  border-radius: 1rem;
}
.bookingModal {
  position: relative;
}
.modalHideBtn {
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  background: #000;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
.inputGroup {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .manageServicesWrap {
    grid-template-columns: 1fr;
  }
  .inputGroup {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .viewMore button {
    font-size: 0.8rem;
  }
}
